##Playbook to deply and execute artifact on EC2 Instances
---
- name: Deploy Artifact
  hosts: _front
  remote_user: ubuntu
  become: yes
  tasks:
  - name: Remove app folder if exists
    shell:
      cmd: rm -rf /home/ubuntu/front
  - name: Create clean app folder
    shell:
      cmd: mkdir -p /home/ubuntu/front
  - name: install unzip
    apt:
      name: unzip
      update_cache: yes
  - name: Extract front.zip on app folder
    unarchive:
      src: /home/ubuntu/front.zip
      dest: /home/ubuntu/front