name: Frontend Deployment Pipeline
on:
    workflow_dispatch:
    push:
        branches:
            - "master"

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Setup node
              uses: actions/setup-node@v3
            - name: Install packages
              run: |
                npm update
                npm install
            - name: Upload artifact
              uses: actions/upload-artifact@v3
              with:
                name: latest
                path: .
    deploy-infrastructure:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Infra code
              uses: actions/checkout@v3
              with:
                repository: 'LabregoPT/movie-analyst-infra'
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v1
              with:
                cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
            - name: Initialize Terraform
              run: terraform init
            - name: Plan execution
              run: terraform plan -input=false
              env:
                TF_VAR_aws_access_key: ${{ secrets.AWS_ACCESS_KEY}}
                TF_VAR_aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            - name: Apply execution
              run: terraform apply -auto-approve -input=false
              env:
                TF_VAR_aws_access_key: ${{ secrets.AWS_ACCESS_KEY}}
                TF_VAR_aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    deploy-app:
      runs-on: self-hosted
      steps:
        - name: Check running on Selfhosted service
          run: echo "Hello world!"
