name: Frontend Deployment Pipeline
on:
    workflow_dispatch:
    push:
        branches:
          #For dev only, remove when merging to master
            - "master"
            - "feature/add-deployment"
jobs:
    deploy-infrastructure:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Infra code
              uses: actions/checkout@v3
              with:
                repository: 'LabregoPT/movie-analyst-infra'
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v1
              with:
                cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
            - name: Initialize Terraform
              run: terraform init
            - name: Plan execution
              run: terraform plan -input=false
              env:
                TF_VAR_aws_access_key: ${{ secrets.AWS_ACCESS_KEY}}
                TF_VAR_aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            - name: Apply execution
              run: terraform apply -auto-approve -input=false
              env:
                TF_VAR_aws_access_key: ${{ secrets.AWS_ACCESS_KEY}}
                TF_VAR_aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    upload-artifact:
      runs-on: self-hosted
      steps:
        - name: Checkout code
          uses: actions/checkout@v3
          #For dev only, remove when merging to master
          with:
            ref: feature/add-deployment
        - name: Setup node
          uses: actions/setup-node@v3
        - name: Install packages
          run: |
            npm update
            npm install
        - name: Zip artifact
          run: zip -qq -r front.zip .
        - name: Upload artifact
          uses: actions/upload-artifact@v3
          with:
            name: latest
            path: ./front.zip
    deploy-app:
      runs-on: self-hosted
      steps:
        - name: Install Ansible and dependencies
          run: |
            sudo apt update
            sudo apt install software-properties-common
            sudo add-apt-repository --yes --update ppa:ansible/ansible
            sudo apt install ansible
            ansible-galaxy collection install amazon.aws
        - name: Run deployment Ansible playbook
          run: |